body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*justify-content: stretch;*/
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 24px 0;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-lower {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/*
.header,
ul {
    display: flex;
    align-items: center;
}
*/

.header {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

/*.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center  ;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-inner {
    max-width: 900px;
}

.quote-inner > :nth-child(2) {
    text-align: right;
}

.quote {
    font-size: 36px;
    font-style: italic; /* What is light italic? */
    color: #1F2937;
}

button {
    background-color: #3882F6;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-content: center;
}

.call-to-action > div {
    background-color: #3882F6;
    max-width: 900px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 100px 0px;
    border-radius: 15px;
}

.call-to-action > div > div {
    color: white;
}

.call-to-action > div > div > p {
    margin: 8px 0;
}

.call-to-action > div > div > :nth-child(1) {
    font-size: 40px;
    font-weight: bold;
}

.img-rect {
    width: 400px;
    height: 200px;
}

.img-square {
    width: 200px;
    height: 200px;
    border: 5px solid #3b82f6;
    border-radius: 15px;
}

.img-subtext > p {
    text-align: center;
    color: #4b5563;
}

a {
    text-decoration: none;
}